<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <br><br>
  <table style="width:100%">
    <tr>
      <td class="mui--text-title"><a id="pageTitle"
                                     href="{% url "defined_list" %}"><strong>Even List</strong></a></td>
    </tr>
    {% for row in rows %}
    <tr>
        <td style="width:20%">
            {%  if row.0.id%}
            {{ row.0.name|capfirst }}
            {%  endif %}
        </td>
        <td style="width:20%">
            {%  if row.1.id%}
            {{ row.1.name|capfirst }}
            {% endif %}
        </td>
        <td style="width:20%">
            {%  if row.2.id%}
            {{ row.2.name|capfirst }}
            {%  endif %}
        </td>
        <td style="width:20%">
            {%  if row.3.id%}
            {{ row.3.name|capfirst }}
            {%  endif %}
        </td>
        <td style="width:20%">
            {%  if row.4.id%}
            {{ row.4.name|capfirst }}
            {%  endif %}
        </td>
    </tr>
{%  empty %}
        There are no results to display.
  {% endfor %}
  </table>
  <br>
{% endblock %}
