<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <br><br>
  <table style="width:100%">
    <tr>
      <td class="mui--text-title"><a id="pageTitle"
                                     href="{% url "defined_list" %}"><strong>Criteria List</strong></a></td>
    </tr>
    <tr>
        <td style="width:33%">
            <strong>A to F</strong>
        </td>
        <td style="width:33%">
            <strong>G to S</strong>
        </td>
        <td style="width:34%">
            <strong>S to Z</strong>
        </td>
    {% for row in rows %}
    <tr>
        <td>
            {%  if row.0.id%}
            {{ row.0.name|capfirst }}
            {%  endif %}
        </td>
        <td>
            {%  if row.1.id%}
            {{ row.1.name|capfirst }}
            {% endif %}
        </td>
        <td>
            {%  if row.2.id%}
            {{ row.2.name|capfirst }}
            {%  endif %}
        </td>
    </tr>
{%  empty %}
        There are no results to display.
  {% endfor %}
  </table>
  <br>
{% endblock %}