<!doctype html>
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <p style="font-size:20px;color:red;">Criteria List</p>
  <p><i>Each column of data can be read top to bottom in your sort order. Methods you provide determine which column a data item is placed in. Data items can appear
  in more than one column or appear in no columns, depending on the logic of your methods.</i></p>
  <table style="width:100%">
    <tr>
        <td style="width:33%">
            <strong>A - M (Count<10)</strong>
        </td>
        <td style="width:33%">
            <strong>N - Z (Count>=10)</strong>
        </td>
        <td style="width:34%">
            <strong>Herbs</strong>
        </td>
	</tr>
	</--
	This template is designed for 3 columns. Therefore you must pass 3 functions to your criteria view to allocate data items to columns.
	You can reference any field in the data, not just those passed to your functions.
	--/>
    {% for row in rows %}
    <tr>
        <td>
            {%  if row.0.id%}
            {{ row.0.name|capfirst }} ({{ row.0.colour }})
            {%  endif %}
        </td>
        <td>
            {%  if row.1.id%}
            {{ row.1.name|capfirst }} ({{ row.1.colour }})
            {% endif %}
        </td>
        <td>
            {%  if row.2.id%}
            {{ row.2.name|capfirst }} ({{ row.2.colour }})
            {%  endif %}
        </td>
    </tr>
{%  empty %}
        There are no results to display.
  {% endfor %}
  </table>
  <br>
{% endblock %}
