<!doctype html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harvest Helper</title>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'exercise_vmc/css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </head>
  <body>
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table>
			<tr class="mui--appbar-height">
                <td class="mui--text-title"><a id="pageTitle" href="{% url "even_list" %}"><strong>Even List</strong></a></td>
				<td class="mui--text-right">
					<ul class="mui-list--inline mui--text-body2">
                    <li><a href="{% url "criteria_list" %}" target="_self">Criteria List</a></li>
                    <li><a href="{% url "defined_list" %}" target="_self">Defined List</a></li>
					</ul>
				</td>
			</tr>
        </table>
      </div>
    </header>
      <p> </p>
      <div class="mui-container">
        <br><br>
        <div id="messages">
          {% for message in messages %}
            <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
              {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </p>
          {% endfor %}
        </div>
{% block content %}
  <br><br>
  <table style="width:100%">
    <tr><th style="text-align:left">Col 1</th>
        <th style="text-align:left">Col 2</th>
        <th style="text-align:left">Col 3</th>
        <th style="text-align:left">Col 4</th>
        <th style="text-align:left">Col 5</th>
    </tr>
    {% for row in rows %}
    <tr>
        <td style="width:20%">
            {%  if row.0.id%}
            {{ row.0.name|capfirst }} - {{ row.0.id }}
            {%  endif %}
        </td>
        <td style="width:20%">
            {%  if row.1.id%}
            {{ row.1.name|capfirst }} - {{ row.1.id }}
            {% endif %}
        </td>
        <td style="width:20%">
            {%  if row.2.id%}
            {{ row.2.name|capfirst }} - {{ row.2.id }}
            {%  endif %}
        </td>
        <td style="width:20%">
        {%  if row.3.id%}
        {{ row.3.name|capfirst }} - {{ row.3.id }}
        {%  endif %}
    </td>
        <td style="width:20%">
        {%  if row.4.id%}
        {{ row.4.name|capfirst }} - {{ row.4.id }}
        {%  endif %}
    </td>
    </tr>
{%  empty %}
        There are no results to display.
  {% endfor %}
  </table>
  <br>
{% endblock %}
      </div>
    <footer></footer>
  </body>
</html>