<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Django VMC Demo App</title>
    <link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'vmcdemo/css/style.css' %}" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>
  </head>
  <body>
    <header class="mui-appbar mui--z1">
      <div class="mui-container">
        <table>
			<tr class="mui--appbar-height">
                <td class="mui--text-title"><a href="{% url "home" %}"><strong>Django Vertical Multi Columns</strong></a></td>
                <td class="mui--text-right">
					<ul class="mui-list--inline mui--text-body2">
                    <li><a href="{% url "even_list" %}" target="_self">Even List</a></li>
                    <li><a href="{% url "criteria_list" %}" target="_self">Criteria List</a></li>
                    <li><a href="{% url "defined_list" %}" target="_self">Defined List</a></li>
					</ul>
				</td>
			</tr>
        </table>
      </div>
    </header>
    <p> </p>
    <div class="mui-container">
        <br><br>
        <div id="messages">
          {% for message in messages %}
            <p style="color: {% if message.tags == 'success' %}green{% elif message.tags == 'error' %}red{% endif %}">
              {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
            </p>
          {% endfor %}
        </div>
{% block content %}{% endblock %}
    </div>
    <p class="mui-appbar mui--z1"></p>
  </body>
</html>